<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="Pinpoint_Brands::content_logomanager" title="Manage Logos"
                              sortOrder="30"/> <!-- only need one rule defining if someone can manage logos or not -->
                </resource>
            </resource>
        </resources>
    </acl>
</config>
