<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Pinpoint\Brands\Api\BrandRepositoryInterface" type="Pinpoint\Brands\Model\BrandRepository"/>
    <preference for="Pinpoint\Brands\Api\Data\BrandInterface" type="Pinpoint\Brands\Model\Brand"/>
    <preference for="Pinpoint\Brands\Api\Data\BrandSearchResultInterface" type="Magento\Framework\Api\SearchResults"/>
</config>
