<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ChrisCarr_AdminhtmlHttpClient::menuitem" title="Chris Carr" module="ChrisCarr_AdminhtmlHttpClient"
             sortOrder="1"
             resource="ChrisCarr_AdminhtmlHttpClient::config"/>
        <add id="ChrisCarr_AdminhtmlHttpClient::adminhtmlhttpclient_configuration_opts" title="Configuration"
             module="ChrisCarr_GeneralApi" sortOrder="99" parent="ChrisCarr_AdminhtmlHttpClient::menuitem"
             action="adminhtml/system_config/edit/section/adminhtmlhttpclientconfig"
             resource="ChrisCarr_AdminhtmlHttpClient::config"/>
    </menu>
</config>
